.homepage-wrapper {
	padding: 50px 75px;
	width: 100%;

	@media screen and (max-width: 1200px) {
		padding: 40px;
	}
	@media screen and (max-width: 600px) {
		padding: 20px;
	}

	.mark {
		background-color: #ffff00;
	}
	.results {
		font-weight: 600;
		line-height: 20px;
		border-bottom: 1px solid #eaeaea;
		padding-bottom: 5px;
		margin-bottom: 50px;
		margin-top: 40px;
	}
}
